/*Estilos generales*/
*{
    margin: 20;
    padding: 20;
    box-sizing: border-box;

}
/*Estilos Header*/
a{
    color: white;
    border: 5px solid transparent;
}

/*Estilos main*/

/*Main Inicio*/
.maryPink{
    font-family: "Merriweather", 
    regular;
    color: white;
    background-color: rgb(241, 7, 97);
    width: 180px;
    height: 60px;
    margin: 20; 
    padding: 20;
    border: 4px double pink;
    border-radius: 5px;
    text-align: center;
}



/*Main Nosotros*/
@font-face {
    font-family: "Merriweather";
    src: url("./fonts/Merriweather-Black.ttf");
}
p {
    font-family: "Merriweather", 
    black-regular;
    color: white;
    background-color: rgb(241, 7, 97);
    
}

/*Estilos footer*/
#arriba{
    background-color: rgb(209, 32, 100);
}
.card{
    background-color: rgb(241, 7, 97);
}
/*Menú*/
header nav ul{
    display: flex;
    list-style: none;
    column-gap: 10px;
}

/*Contacto*/
.form-div{
    margin-top: 20px;
    position: relative;
}
.form-div input{
    height: 50px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 40px;
    outline: none;
}
.form-div label{
    position: absolute;
    left: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 1px 7px;
    font-size: -5px;
    color: grey;
    transition: 0.3s;
}
.form-div input:focus{
    border-color: magenta;
}
.form-div input:focus ~ label{
    margin-left: 15px;
    margin-top: 5x;
    font-size: 14px;
    color: magenta;
}
.menu{
    flex-grow: 0;
}

